<div class="container">
<h1>Parse the parcel</h1>
<p>
  At Our company we're looking to make selling items even easier and so we've decided to build our very own package shipping network. We've dug a tunnel
between the North and South Islands that enables us to offer the same rates for parcels sent anywhere in the country and we've just finished fuelling up our
fleet of courier vans; all that remains to be done is to update the website so that users can be advised how much their items will cost to send.
</p>
<p>
With our new service shipping costs are based on size and we offer different prices for small, medium, and large boxes. Unfortunately, we're currently unable
to move heavy packages so we've placed an upper limit of 25kg per package.

</p>


Type 			Dimensions 		Cost<br />
			 Length Breadth Height<br />
Small Package 210mm 280mm 130mm $5.00<br />
Medium Package 280mm 390mm 180mm $7.50<br />
Large Package 380mm 550mm 200mm $8.50<br />

<p>
Coding Exercise
We need you to implement a component that, when supplied the dimensions (length x breadth x height) and weight of a
package, can advise on the cost and type of package required. If the package exceeds these dimensions - or is over 25kg -
then the service should not return a packaging solution.
</p>

<p>
Guidelines
<br /> You will be expected to produce a solution that solves the above problem; while this is a simple component we will be executing it in a production
system so it will need to be production ready and supportable. We also expect that as our shipping capacity grows so too will our service offering -
meaning that one day we might support Extra Large Packages, or Overweight services.
<br /> You are free to choose the technologies you think are either best for the system or best show your abilities. You are welcome to make assumptions
about the solution along with any improvements you think enhance or add value to the solution - though please be aware of the original scope.
<br /> You should spend about an hour or two on this task
Please host your solution on a password protected repository. Best of luck!!
</p>
</div>
